
#Remove editor files
.idea/
.vscode/

#Remove node_modules
node_modules/

#Dont store in git Data
data/

#Bower And Dist
www/assets/rank/lib/bower/
www/assets/rank/dist/

www/assets/admin/lib/bower/
www/assets/admin/dist/

#Sitemaps
www/*.xml